body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#login, #todo {
    width: 300px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea, form button {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
